.card {
/*   max-width: 800px; */
  margin-bottom: 10px;
}


.header-image-time {
  background-image: url('https://www.staples.co.uk/content/images/product/GenesisExtraLarge/86/68/asset.5568668.jpg');
  background-size: cover;
}