
<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="12px" >
    <mat-card theme="forest" *ngFor="let interaction of interactionsToLabel;let i=index;" class="card">
	  <mat-card-header>
	    <div mat-card-avatar class="header-image-coffe"></div>
	    <mat-card-title>Labeling {{i+1}}</mat-card-title>
	    <mat-card-subtitle>Discovery at {{interaction.startFormatted}}</mat-card-subtitle>
	  </mat-card-header>
      <mat-card-content>

         <div class="mat-h3">
             Start - {{interaction.start}}
             <mat-icon class="material-icons" style="cursor: pointer;" (click)="shift(interaction,'start','left')">arrow_left</mat-icon>
			 <mat-icon class="material-icons" style="cursor: pointer;" (click)="shift(interaction,'start','right')">arrow_right</mat-icon>		     
         </div>
         <div class="mat-h3">
           End - {{interaction.end}}
             <mat-icon class="material-icons" style="cursor: pointer;" (click)="shift(interaction,'end','left')">arrow_left</mat-icon>
             <mat-icon class="material-icons" style="cursor: pointer;" (click)="shift(interaction,'end','right')">arrow_right</mat-icon>         
		  </div>


	

		 <mat-form-field appearance="fill">
		  <mat-label>Choose Label</mat-label>
		  <mat-select (selectionChange)="performLabel($event.value,interaction,i)">
		    <mat-option *ngFor="let label of labelsList" [value]="label">{{label}}</mat-option>
		  </mat-select>
		 </mat-form-field>
		 
		 <mat-spinner *ngIf="labelInProgress[i]" diameter="20"></mat-spinner>
		
		 <p></p>
         <div class="mat-h2" *ngIf="labelDone[i]">Labeled Successfully</div>
         
         
      </mat-card-content>
      <mat-card-actions>
    	<button mat-raised-button color="link" (click)="predict(interaction,i)">PREDICT</button>
  	    <button mat-raised-button color="primary" *ngIf="predictionDone[i]" (click)="performLabel(predictionText[i],interaction,i)">{{predictionText[i]}}</button>
  	  </mat-card-actions>

    </mat-card>
    <!-- /Simulation Coffee Types -->
</div>