

<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="12px" >
    <!-- Initial Time -->
    <form [formGroup]="formGroupInitialDateTime">
    <app-datetimepicker [title]="titlePickerInitial" [formGroup]="formGroupInitialDateTime"></app-datetimepicker>
    </form>
    <!-- /Initial Time -->  

    <!-- End Time -->
    <form [formGroup]="formGroupEndDateTime">
    <app-datetimepicker [title]="titlePickerEnd" [formGroup]="formGroupEndDateTime"></app-datetimepicker>
    </form>
    <!-- /End Time -->
    
    
    <!-- Launch button -->
     <mat-card class="card_button" >
      <mat-card-header>
        <mat-card-title>Start Process</mat-card-title>
        <mat-card-subtitle>After selecting start and end time</mat-card-subtitle>
        <mat-spinner *ngIf="searchInProgress" diameter="20"></mat-spinner>
      </mat-card-header>
      <mat-card-actions>
    	<button mat-raised-button color="link" (click)="getElectricalSamples()">Retrieve Data</button>
  	  </mat-card-actions>
    </mat-card>
    <!-- Launch button -->   
</div>

   

  
  
<!-- Line chart with annotations -->
<app-line-chart></app-line-chart>
<!-- /Line chart -->

<mat-divider></mat-divider>
   

<!-- List of labeling options -->
<app-label-list></app-label-list>

<mat-divider></mat-divider>

<!-- Export Series -->
<div align="center">
 <mat-card class="card_button" >
  <mat-card-header>
    <mat-card-title>Export Time Series</mat-card-title>
    <mat-card-subtitle>Make sure everything is labeled succesfully</mat-card-subtitle>
    <mat-spinner *ngIf="exportInProgress" diameter="20"></mat-spinner>
  </mat-card-header>
  <mat-card-actions>
	<button mat-raised-button color="link" (click)="exportTimeSeries()">EXPORT</button>
 </mat-card-actions>
</mat-card>
</div>
<!-- Export Series --> 


<mat-divider></mat-divider>